ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.half_page{
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.full_page{
    width: 100%; 
    height: 100%; 
}

.center {
  display: table;
  margin: 0 auto;
}

.table_div{
    width:80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
    table-layout: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border:1px solid black;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    border-right-color: #FFFFFF;

  }
  
  table.customTable td, table.customTable th {
    border-width: 0.5px;
    border-style: solid;
    padding: 5px;
    text-align: center;
  }
  
  table.customTable thead {
    background-color: #2185d0;
    color: #FFFFFF;
  }

  td.time{
    background-color: #2185d0;
    color: #FFFFFF;
    border-width: 0.5px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    text-align: center;
  }

  div.appointment{
    background-color: #2185d0;
    color: #FFFFFF;
    border-style: solid;
    text-align: center;
    width: 12.5%;
    height: 13.32%; 
    right: 12.5%;
    top: 6.66%;
    background-color: #898A8A;
    position: absolute;
    line-height: 30px;
    border-collapse: collapse;
    border-radius: 0.5em;
    border-color: #000000;
    overflow: hidden;
    border-width: 0.5px;
  }

  .ui.cards{
    position: absolute;
    text-align: center;
    width: 13.5%;
    height: 13.32%; 
    right: 0.1%;
    top: 9.32%;
  }
.blue{
  background-color: #2185d0;
}
.ui.celled.fixed.single.line.table{
  text-align: center;
}