ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.half_page{
  width: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.full_page{
  width: 100%; 
  height: 90%; 
}

.display{
  display: block;
}

.chat_container{
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 80%;
  min-height: 80%;
}

.chat_message{
  max-width: 50%;
  width: fit-content;
  block-size: fit-content;
  margin-left: 1%;
}

.right {
  margin-left: auto;
  margin-right: 1%;
}

.date{
  padding: 0px;
  color:#898A8A;
  font-size: x-small; 
  width:fit-content;
}

.profile_container{
  width: 60%; 
  height: 50%; 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.chat_input{
  width: 100%;
  height: 8%;
  position: fixed;
  bottom: 0;
}

.add_app_full_page{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.add_app {
  width: 60%; 
  height: 50%; 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 600000;
}

.center {
  margin: 0 auto;
  text-align: center;

}

.table_div{
  width:80%;
  height: 75%;
  margin: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y:auto;
}

table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
  table-layout: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border:1px solid black;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
  border-right-color: #FFFFFF;

}

table.customTable td, table.customTable th {
  border-width: 0.5px;
  border-style: solid;
  padding: 5px;
  text-align: center;
}

table.customTable thead {
  background-color: #2185d0;
  color: #FFFFFF;
}

td.time{
  background-color: #2185d0;
  color: #FFFFFF;
  border-width: 0.5px;
  border-color: #FFFFFF;
  border-style: solid;
  padding: 5px;
  text-align: center;
}

div.appointment{
  background-color: #2185d0;
  color: #FFFFFF;
  border-style: solid;
  text-align: center;
  width: 12.5%;
  height: 13.32%; 
  right: 12.5%;
  top: 6.66%;
  background-color: #898A8A;
  position: absolute;
  line-height: 30px;
  border-collapse: collapse;
  border-radius: 0.5em;
  border-color: #000000;
  overflow: hidden;
  border-width: 0.5px;
  font-weight: 700;
}

.ui.visible.message {
  position: absolute;
  text-align: center;
  width: 12.48%;
  font-size: 1vh;
  display: block;
}

.separator{
  background-color: #e0e1e2;
  font-size: 0.5vw;
  color: #3a4144;
  z-index: 2;
}

.blue{
  background-color: #2185d0;
}
.ui.celled.fixed.single.line.table{
  text-align: center;
}

.ui.center.aligned.container{
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui.pagination.menu{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
