{% extends "adminbase" %}
{% block content %}
<script>
    var context = {{ context }};
</script>
<div id="adminprofile"></div>
<script type="text/babel" src="static/adminComponents/adminProfile.js" />
{% endblock content %}