{% extends "adminbase" %}
{% block content %}

<div id="payments"></div>

<script src="/static/sharedComponents/loading.js" type="text/babel"></script>
<script src="/static/adminComponents/payment.js" type="text/babel"></script>
<script src="/static/adminComponents/payments.js" type="text/babel"></script>
{% endblock content %}