{% extends "adminbase" %}
{% block content %}

<div id="schedule"></div>

<script src="/static/sharedComponents/loading.js" type="text/babel"></script>
<script src="static/sharedComponents/table.js" type="text/babel"></script>
<script src="static/adminComponents/appointment.js" type="text/babel"></script>
<script src="static/adminComponents/schedule.js" type="text/babel"></script>
<script src="static/adminComponents/addAppointment.js" type="text/babel"></script>
{% endblock content %}
