{% extends "base" %}
{% block content %}

<div id="chat"></div>

<script src="static/sharedComponents/message.js" type="text/babel"></script>
<script src="static/sharedComponents/chat.js" type="text/babel"></script>
{% endblock content %}