{% extends "base" %}
{% block content %}

<div id="profile"></div>

<script src="/static/sharedComponents/loading.js" type="text/babel"></script>
<script type="text/babel" src="/static/userComponents/profile.js"></script>
{% endblock content %}