{% extends "base" %}
{% block content %}

<div id="profile"></div>

<script>
    var context = {{ context }};
</script>

<script type="text/babel" src="static/userComponents/profile.js"></script>
{% endblock content %}