{% extends "providerbase" %}
{% block content %}

<div id="payments"></div>

<script src="/static/sharedComponents/loading.js" type="text/babel"></script>
<script src="/static/providerComponents/payment.js" type="text/babel"></script>
<script src="/static/providerComponents/payments.js" type="text/babel"></script>
{% endblock content %}