{% extends "publicbase" %}
{% block content %}
    <div id="publicnavbar"></div>
    <div id="termsofservice"></div>

    <script src="/static/publicComponents/publicNavbar.js" type="text/babel"></script>
    <script src="/static/publicComponents/footer.js" type="text/babel"></script>
    <script src="/static/publicComponents/termsOfService.js" type="text/babel"></script>
{% endblock content %}